#header {
  font-size: 35px;
  color: white;
  background: rgb(70, 71, 61);
  text-align: center;
}
.wrapper {
  margin-top: 3%;
}

.divBox {
  border: 1px solid grey;
  padding: 3%;
  height: 400px;
  margin: 2%;
}
.divBox:hover {
  background: palegoldenrod;
}

.cityEl {
  border: 1px solid lightgrey;
  padding: 2%;
  margin: 2%;
}
.cityEl:hover {
  border: 1px solid green;
  background: paleturquoise;
}

#sidePanel {
  margin-left: 1%;
}

.fiveDayForecastBox {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.fiveDayForecastBox > div {
  position: relative;
  margin: 1%;
  margin-bottom: 2%;
  padding: 2%;
  text-align: center;
  border: 1px solid grey;
  color: brown;
  background: paleturquoise;
}

#cityUV {
  border: 1px solid black;
  padding: 1%;
}

.uvGreen {
  background: green;
  color: white;
}
.uvYellow {
  background: yellow;
  color: red;
}
.uvOrange {
  background: orange;
  color: navy;
}
.uvRed {
  background: red;
  color: yellow;
}
.uvPurple {
  background: purple;
  color: yellow;
}
